<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="/static/login.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">

</head>
<body>

  <div class="box">
    <h2>FilMatch 🎬</h2>

    <input id="name" placeholder="Nome">
    <input id="age" type="number" placeholder="Idade">
    <input id="email" placeholder="Email">
    <input id="password" type="password" placeholder="Senha">

    <button onclick="register()">Cadastrar</button>
    <button onclick="login()">Entrar</button>

    <p id="msg"></p>
  </div>

  <script src="/static/login.js"></script>
</body>
</html>
