<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/static/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">

</head>
<body>
  <h1>Seu gosto</h1>

  <input id="action" type="range" min="0" max="10">
  <input id="drama" type="range" min="0" max="10">
  <input id="comedy" type="range" min="0" max="10">
  <input id="scifi" type="range" min="0" max="10">

  <button onclick="saveProfile()">Continuar</button>

  <script src="/static/js/perfil.js"></script>
</body>
</html>
